In [1]:
%load_ext autoreload
%autoreload 2
import pandas as pd
import numpy as np
from pathlib import Path
from clean.Cleaning import data_check
from clean.Cleaning import record
from clean.Cleaning import missing_values
import matplotlib.pyplot as plt
import seaborn as sns
from mpl_toolkits.mplot3d import Axes3D
import pickle
import warnings
from datetime import datetime
warnings.filterwarnings("ignore")

In [2]:
data = pd.read_csv(r'../data/CURATED/df_paris.csv', encoding="UTF8", sep=',')
df = data.copy()

In [73]:
a=pd.DataFrame(df.value_counts(['Id']).reset_index(name="count"))
a

                                                      Id  count
0         Vente 2020-12-10 00:00:00 75 106 AY 93141336.0    292
1         Vente 2020-02-07 00:00:00 75 108 BG 13390000.0    291
2          Vente 2020-03-11 00:00:00 95 176 AI 6480000.0    174
3           Vente 2020-02-11 00:00:00 77 514 AN 600000.0     92
4       Echange 2020-09-10 00:00:00 75 113 BN 22500000.0     87
...                                                  ...    ...
39235        Vente 2020-07-22 00:00:00 75 116 AH 31000.0      1
39236       Vente 2020-07-22 00:00:00 75 116 AH 589800.0      1
39237        Vente 2020-07-22 00:00:00 75 116 AZ 70000.0      1
39238        Vente 2020-07-22 00:00:00 75 116 BS 60000.0      1
39239  Adjudication 2020-01-09 00:00:00 75 112 CS 165...      1

[39240 rows x 2 columns]

In [84]:
b=df.groupby('Id')['Type local'].count().reset_index(name="type")
b

                                                      Id  type
0      Adjudication 2020-01-09 00:00:00 75 112 CS 165...     1
1      Adjudication 2020-01-09 00:00:00 75 116 AP 413...     1
2      Adjudication 2020-01-09 00:00:00 75 118 AM 212...     1
3      Adjudication 2020-01-09 00:00:00 75 120 DO 108...     1
4      Adjudication 2020-01-09 00:00:00 75 120 DX 661...     2
...                                                  ...   ...
39235  Vente en l'état futur d'achèvement 2020-11-19 ...     2
39236  Vente en l'état futur d'achèvement 2020-12-21 ...     1
39237  Vente en l'état futur d'achèvement 2020-12-22 ...     1
39238  Vente terrain à bâtir 2020-10-16 00:00:00 77 5...     1
39239  Vente terrain à bâtir 2020-12-10 00:00:00 75 1...     4

[39240 rows x 2 columns]

In [79]:
c=a.merge(b, how='left', left_on = 'Id', right_on='Id' )
c

                                                      Id  count  type
0         Vente 2020-12-10 00:00:00 75 106 AY 93141336.0    292   292
1         Vente 2020-02-07 00:00:00 75 108 BG 13390000.0    291   291
2          Vente 2020-03-11 00:00:00 95 176 AI 6480000.0    174   174
3           Vente 2020-02-11 00:00:00 77 514 AN 600000.0     92    92
4       Echange 2020-09-10 00:00:00 75 113 BN 22500000.0     87    87
...                                                  ...    ...   ...
39235        Vente 2020-07-22 00:00:00 75 116 AH 31000.0      1     1
39236       Vente 2020-07-22 00:00:00 75 116 AH 589800.0      1     1
39237        Vente 2020-07-22 00:00:00 75 116 AZ 70000.0      1     1
39238        Vente 2020-07-22 00:00:00 75 116 BS 60000.0      1     1
39239  Adjudication 2020-01-09 00:00:00 75 112 CS 165...      1     1

[39240 rows x 3 columns]

In [170]:
df[(df['Id']=='Vente 2020-12-10 00:00:00 75 106 AY 93141336.0')]['Type local'].mode().values[0]

'Dépendance'

In [146]:
pd.DataFrame(df[df['Id']=='Vente 2020-12-10 00:00:00 75 106 AY 93141336.0']['Type local'].value_counts()).T

            Dépendance  Appartement  Local industriel. commercial ou assimilé
Type local         241           38                                        13

In [152]:
for i in df['Id']:
    df['Dependance'] = df[(df['Id']==i)&(df['Type local']=='Dépendance')]['Type local'].count()

In [155]:
df.groupby(['Id','Type local'])['Type local'].count()

Id                                                                           Type local
Adjudication 2020-01-09 00:00:00 75 112 CS 165000.0                          Local industriel. commercial ou assimilé    1
Adjudication 2020-01-09 00:00:00 75 116 AP 413000.0                          Appartement                                 1
Adjudication 2020-01-09 00:00:00 75 118 AM 212000.0                          Appartement                                 1
Adjudication 2020-01-09 00:00:00 75 120 DO 10800.0                           Dépendance                                  1
Adjudication 2020-01-09 00:00:00 75 120 DX 661000.0                          Appartement                                 1
                                                                                                                        ..
Vente en l'état futur d'achèvement 2020-12-21 00:00:00 75 120 AE 28920000.0  Local industriel. commercial ou assimilé    1
Vente en l'état futur d'achèvement 2020-12-22 00:00:00 75 118 AS 1849547.4   Appartement                                 1
Vente terrain à bâtir 2020-10-16 00:00:00 77 514 AM 180000.0                 Terrain                                     1
Vente terrain à bâtir 2020-12-10 00:00:00 75 108 BD 326611008.0              Local industriel. commercial ou assimilé    3
                                                                             Terrain                                     1
Name: Type local, Length: 45547, dtype: int64

In [156]:
df[['Id','Type local']].pivot_table(index='Id', columns='Type local', aggfunc=len)

Type local,Appartement,Dépendance,Local industriel. commercial ou assimilé,Maison,Terrain
Id,,,,,
Adjudication 2020-01-09 00:00:00 75 112 CS 165000.0,NaN,NaN,1.0,NaN,NaN
Adjudication 2020-01-09 00:00:00 75 116 AP 413000.0,1.0,NaN,NaN,NaN,NaN
Adjudication 2020-01-09 00:00:00 75 118 AM 212000.0,1.0,NaN,NaN,NaN,NaN
Adjudication 2020-01-09 00:00:00 75 120 DO 10800.0,NaN,1.0,NaN,NaN,NaN
Adjudication 2020-01-09 00:00:00 75 120 DX 661000.0,1.0,1.0,NaN,NaN,NaN
...,...,...,...,...,...
Vente en l'état futur d'achèvement 2020-11-19 00:00:00 95 176 AO 290000.0,1.0,1.0,NaN,NaN,NaN
Vente en l'état futur d'achèvement 2020-12-21 00:00:00 75 120 AE 28920000.0,NaN,NaN,1.0,NaN,NaN
Vente en l'état futur d'achèvement 2020-12-22 00:00:00 75 118 AS 1849547.4,1.0,NaN,NaN,NaN,NaN
Vente terrain à bâtir 2020-10-16 00:00:00 77 514 AM 180000.0,NaN,NaN,NaN,NaN,1.0
Vente terrain à bâtir 2020-12-10 00:00:00 75 108 BD 326611008.0,NaN,NaN,3.0,NaN,1.0

In [ ]:
#sorted df['Id']
for i in df['Id'] :
    if df['Id'][i-1:i] ==df['Id'][i:i+1]:
        df['Surface reelle bati'][i]= df['Surface reelle bati'][i] + df['Surface reelle bati'][i+1]
        df.drop(df[i:i+1] , inplace=True)
        df['lot'][i]== 1